dubbo-bear/xsd-handler/src/main/resources/META-INF/wpp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:tool="http://www.springframework.org/schema/tool"
            xmlns="http://wpp.com/schema/wpp"
            targetNamespace="http://wpp.com/schema/wpp">
    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:import namespace="http://www.springframework.org/schema/tool"/>
    <xsd:annotation>
        <xsd:documentation>
            <![CDATA[ Namespace support for the wpp services provided by wpp framework. ]]></xsd:documentation>
    </xsd:annotation>
    <xsd:complexType name="addressType">
        <!--        <xsd:sequence minOccurs="0" maxOccurs="unbounded">-->
        <!--            <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded"/>-->
        <!--        </xsd:sequence>-->
        <xsd:attribute name="id" type="xsd:ID" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The unique identifier for a address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="value" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The value for a address. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="owner" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation><![CDATA[ The Address owner. ]]></xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>

    </xsd:complexType>

    <xsd:element name="address" type="addressType">
        <xsd:annotation>
            <xsd:documentation><![CDATA[ The address config ]]></xsd:documentation>
        </xsd:annotation>
    </xsd:element>

</xsd:schema>